{% extends "base.html" %}

{% block title %}
    <title>{{ subject.name }} {{ subject.code }}</title>
{% endblock %}

{% block style %}
    <style>
        .post-form  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        .post-form {
            
        }
        .not-supported {
            color: red;
            fontsize: 15px;
        }
        .errorlist li {
            font-style: italic;
            color: red;
        }
        input {
            text-align: center;
        }
        .subjects {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
        }
        .subject {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            border-bottom: 1px solid #ccc;
        }
        .subject-code {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        input[type="text"],
        input[type="number"],
        input[type="submit"],
        input[type="email"],
        input[type="date"], select {
            width: 200px;
            height: 33px;
            margin-bottom: 10px;
        }
        input[type="submit"] {
            cursor: pointer;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ccc;
        }
        .students-page {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .form-generate {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .form-generate label {
            color: white;
        }
        .generate-password {
            background-color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .generate-password span b {
            background-color: teal;
            padding: 3px;
        }
        .error {
            color: orange;
            font-size: 15px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="students-page">    
        <div class="students">
            <form class="form-generate" method="post">   
                <span class="error"></span>
                <label for="id_pass_min_length">Pass min length:</label>
                <input type="number" name="pass_min_length" value="6" maxlength="1" required="" id="id_pass_min_length">
      
                <label for="id_pass_max_length">Pass max length:</label>
                <input type="number" name="pass_max_length" value="12" maxlength="2" minlength="1" required="" id="id_pass_max_length">

                {% csrf_token %}
                <input class="btn-sumit" type="submit" value="Generate">
            </form>
        </div>
        
        <div class="generate-password">
            <span>
                Generated password:
                <b class="generated-password">{{ password }}</b>
            </span>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let minLength = document.querySelector('#id_pass_min_length');
        let maxLength = document.querySelector('#id_pass_max_length');
        let btn = document.querySelector('.btn-sumit');
        let generatedPassword = document.querySelector('.generated-password');
        let error = document.querySelector('.error');

        btn.addEventListener('click', e => {
            e.preventDefault();

            if (parseInt(maxLength.value) < parseInt(minLength.value)) {
                error.textContent = 'Max length must be greater than minimum length';
            } else {
                error.textContent = '';
                fetch('/password_generator_api/', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        pass_min_length: minLength.value,
                        pass_max_length: maxLength.value
                    })
                })
                    .then(res => res.json())
                    .then(data => {
                        // console.log(data);
                        generatedPassword.textContent = data.password;
                    })
                    .catch(err => console.error(err));
            }
        });
    </script>
{% endblock %}



